version: 1
disable_existing_loggers: false

formatters:
  standard:
    format: "%(asctime)s - %(levelname)s - %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    formatter: standard
    level: DEBUG
    stream: ext://sys.stdout

  #file:
  #  class: logging.handlers.WatchedFileHandler
  #  formatter: standard
  #  filename: mylog.log
  #  level: INFO


loggers:
  uvicorn:
    error:
      propagate: true

root:
  level: DEBUG
  handlers: [console] #, file]
  propagate: no
